<table class="text" width="100%">

	<tr>
		<td>
			<table width="100%" class="toolbar" cellpadding="0" cellspacing="2">
				<tr>
					<td style="white-space: nowrap;">
						<b>Area di lavoro per le pubblicazioni</b>
						<% if(!pdfAnag.getPdfValidationWarningMessage().isNull()){ %>
							&nbsp;[
									<span style="text-decoration: underline; cursor: pointer;" onclick="showValidationWarningMessage();">Punti di attenzione</span>
									<img style="cursor: pointer;" onclick="showValidationWarningMessage();" src="<%=template.getWfemLayoutWebApp()%>/images/typeWarning.png">
								  ]
						<% } %>
					</td>
					<td align="right">
		     	 		<%  
		     	 			String chiudiAction = "doChiudiAreaDiLavoro();";
		     	 			if(pdfAnag.getPdfPublishTime().isNull())
		     	 				chiudiAction = "doAnnullaModificheAction();";
		     	 		%>
						[<span style="text-decoration: underline; cursor: pointer;" onclick="<%=chiudiAction%>" title="Chiude l'area di lavoro per le pubblicazioni">chiudi</span>]
					</td>
				</tr>
			</table>
		</td>
	</tr>
	
	<tr>
		<td style="padding-left: 5;padding-top: 10;white-space: nowrap;">
			<% if(pdfAnag.getPdfPublicationId().intValue() == PdfAnagModel.NO_PUBLICATION){ %>
				<b>Nuova pubblicazione a partire dall'Id pubblicazione <%=pdfAnag.getPdfOriginalPubId()%></b>
				&nbsp;(versione Acroform: <%=pdfAnag.getPdfAcroformVersion()%>)
				&nbsp;<%=(pdfAnag.getPdfPublishTime().isNull()?"[modificata]":"")%>
			<% }else{ %>
				<b>Id pubblicazione n.&nbsp;
				<%=(pdfAnag.getPdfPublicationId().intValue()==pdfAnag.getPdfPubIdCorrente().intValue()?"<span style='color:green;'>["+pdfAnag.getPdfPublicationId()+"]</span>":""+pdfAnag.getPdfPublicationId())%>
				</b>
				&nbsp;(versione Acroform: <%=pdfAnag.getPdfAcroformVersion()%>)
				&nbsp;<%=(pdfAnag.getPdfPublishTime().isNull()?"&nbsp;[in corso di modifica]":"")%>
			<% } %>
		</td>
	</tr>
	
	<tr>
		<td>
			<form name="datiPublication" method="post" action="call.wfem">
			<input type="hidden" name="wfemCmd" value="">
			<input type="hidden" name="pubblicaComeNuovaPubblicazione" value="">
			<input type="hidden" name="pdfAnag_fileIsChanged" value="<%=pdfAnag.getFileIsChanged()%>">
			<input type="hidden" name="BrowserInstance" value="<%=request.getAttribute("BrowserInstance")%>">
				<div>
					<table width="100%">
						<tr>
							<td>
								<table cellpadding="0" cellspacing="0"><tr>
									<td><%=template.field("pdfAnag_pdfEdition","maxlength='10'")%></td>
									<td><%=template.field("pdfAnag_pdfPubStartDate")%></td>
									<td><%=template.field("pdfAnag_pdfDataFineAccettazionePubblPrec")%></td>
									<% boolean momVersionDisabled = !pdfAnag.getCallSrvDispositivaBMED().isNull() && 
																	 pdfAnag.getPdfPublicationId().intValue() != PdfAnagModel.NO_PUBLICATION; %>
									<td><%=template.field("pdfAnag_pdfMomVersion","size='2' maxlength='3'"+(momVersionDisabled?" modality='read'":""))%></td>
									<td><%=template.field("pdfAnag_pdfDriverVersion","uppercase='false' maxlength='50'")%></td>								
								</tr></table>
							</td>
						</tr>
						<tr>
							<td align="center">
								<table width="100%">
									<tr>
										<td><%=template.field("pdfAnag_pdfPublicationNotes","labelposition='up' labelalign='left' uppercase='false' type='all' rows='3' style='width:100%;'")%></td>
					     	 		</tr>
					     	 	</table>
							</td>
						</tr>
						<tr>
							<td><hr></td>
						</tr>
						<tr>
							<td>
								<table><tr>
									<td><%=template.field("pdfAnag_generatePageImages",""+(pdfAnag.getPdfNumPages().intValue()==0?"modality='read'":""))%></td>
									<% if(confModel.getProfiloUtente().equalsIgnoreCase(CostantiPublisher.ProfiliUtente.SVILUPPO) ||
	  									  confModel.getProfiloUtente().equalsIgnoreCase(CostantiPublisher.ProfiliUtente.AMMINISTRATORE)){ %>
	  									  <td style="padding-left:20;"><%=template.field("pdfAnag_skipCallToAggiornaModuloMom")%></td>
									<% } %>
								</tr></table>	
							</td>
						</tr>
					</table>
				</div>
			</form>
		</td>
	</tr>
	
	<tr>
		<td style="padding-left: 10;padding-bottom: 5;">
	      <table class="text" cellpadding="0" cellspacing="0">
			 <tr style="height:25;">
			 	<td style="padding-left: 10;" valign="top"><%=template.inlineAnchor("pdfAnag_pdfContent")%></td>
			 	<td valign="top">File&nbsp;Pdf:&nbsp;</td>
			 	<td id="fileCont" valign="top">
			 		<table class="text" cellpadding="0" cellspacing="0">
			 			<tr>
					 		<td <%=pdfAnag.getPdfContent().isNull()?"":"style='display:none;'"%>>
					 			<%=template.field("pdfAnag_pdfContent","labelposition='nolabel' modality='insert' showclear='false' showpreview='false'")%>
					 		</td>
			 				<td <%=pdfAnag.getPdfContent().isNull()?"":"style='display:none;'"%>>&nbsp;<span style="cursor:pointer;text-decoration:underline;" onclick="restoreFilePdf();">annulla</span></td>
				 			<td <%=pdfAnag.getPdfContent().isNull()?"style='display:none;'":""%>>[&nbsp;<span style="cursor:pointer;text-decoration:underline;" onclick="visualizzaFilePdf();"><i><%=pdfAnag.getPdfContent().getFileName()%></i></span>&nbsp;]</td>
				 			<td <%=pdfAnag.getPdfContent().isNull()?"style='display:none;'":""%>>&nbsp;<span style="cursor:pointer;text-decoration:underline;" onclick="clearFilePdf();">cambia&nbsp;file</span></td>
					 	</tr>
			 		</table>
			 		<% if(pdfAnag.getPdfContent().isNull()){ %>
				 		<script>$("#pdfAnag_pdfContent").bind("change",function(){document.datiPublication.pdfAnag_fileIsChanged.value = "true";})</script>
			 		<% } %>
			 	</td>
			 	<td style="padding-left: 10;" valign="top"><%=template.inlineAnchor("pdfAnag_pdfNumPages")%></td>
			 	<td style="padding-left: 20;" valign="top">
			 		<% if(pdfAnag.getPdfNumPages().intValue() > 0 && !pdfAnag.getPdfContent().isNull()){ %>
				 		<table class="text" cellpadding="0" cellspacing="0">
				 			<tr>
				 				<td valign="top">Pagine:&nbsp;</td>
				 				<td>
				 				<% for(int i=0;i<pdfAnag.getPdfNumPages().intValue();i++){ %>
				 					<span style="text-decoration:underline;cursor:pointer;" 
				 						  onclick="visualizaImmaginePagina('<%=pdfAnag.getPdfId()%>',<%=pdfAnag.getPdfPublicationId().intValue()%>,<%=(i+1)%>);">pag.&nbsp;<%=(i+1)%></span>
					 				&nbsp;
				 				<% } %>
				 				</td>
				 			</tr>
				 		</table>
			 		<% } %>
			 	</td>
			 	<td style="padding-left: 20;white-space: nowrap;" valign="top">
			 		<% if(pdfAnag.getPdfNumPages().intValue() > 0 && !pdfAnag.getPdfContent().isNull()){ %>
				 		&nbsp;<span style="text-decoration:underline;cursor:pointer;" onclick="visualizzaFilePdf();">pdf</span>
				 		&nbsp;<span style="text-decoration:underline;cursor:pointer;" onclick="visualizzaAcroformPdf();">acroform</span>
				 		&nbsp;<span style="text-decoration:underline;cursor:pointer;" onclick="verificaPdf();">simula</span>
				 		<% if(confModel.getProfiloUtente().equalsIgnoreCase(CostantiPublisher.ProfiliUtente.SVILUPPO)){ %>
				 			&nbsp;<span style="text-decoration:underline;cursor:pointer;" onclick="createPdfDataHelper();">helper</span>
				 		<% } %>
			 		<% } %>
			 	</td>
			 </tr>
	      </table>
		</td>
	</tr>

	<tr>
		<td align="center">
			<table>
				<tr>
		     	 	<td><%=template.action("salvaAction","text='Salva dati pubbl.' style='width: 140;'")%></td>
					<% if(pdfAnag.getPdfPublicationId().intValue() == PdfAnagModel.NO_PUBLICATION){ %>			     	 		
		     	 		<td><%=template.action("pubblicaComeNuovaPubblicazione","text='Pubblica' style='width: 140;' "+(pdfAnag.getPdfNumPages().intValue() > 0 && pdfAnag.getPdfPublishTime().isNull() && !pdfAnag.getPdfContent().isNull() ? "":"enabled='false'"))%></td>
	     	 		<% }else{ %>
		     	 		<td><%=template.action("salvaPubblicazioneAction","text='Aggiorna pubblicazione n."+pdfAnag.getPdfPublicationId()+"' "+(pdfAnag.getPdfPublishTime().isNull() ? "":"enabled='false'"))%></td>
			     	 	<td><%=template.action("pubblicaComeNuovaPubblicazione","text='Pubblica come nuova' style='width: 140;' "+(pdfAnag.getPdfPublishTime().isNull() ? "":"enabled='false'"))%></td>
		     	 	<% } %>
     	 		</tr>
     	 	</table>
		</td>
	</tr>
   	 	
	<%@ include file="./PdfPagesData.html"%>

</table>