<!-- INIZIO SEZIONE 3 -->
<table width='100%' id='sezione9'><tr><td>
<fieldset class='sezione'>
<legend class='titoloSezione'>
&nbsp;<%=rispDrawer.sezione(9)%>
</legend>
<table width='100%'><tr><td>

   <!-- SEZIONE 3 - INIZIO DOMANDA 1 -->
   <table width='100%' style='table-layout:fixed;' id='domanda9'>
     <tr>
       <td>
         <table class='domanda'><tr>
           <td valign='top'><b>1)</b></td>
           <td valign='top'>
            <b><%=rispDrawer.domanda(9)%></b>
           </td>
           <% if(model.getDomandaInErrore().intValue() == 9){ %> 
           <td>&nbsp;&nbsp;&nbsp;<%=rispDrawer.inlineAnchor()%></td>
           <% } %> 
         </tr></table>
       </td>
     </tr>
     <tr>
       <td>
         <table width='100%' class='risposteCont' cellspacing='0' cellpadding='0'>
          <tr>
           <td valign='top'>
             <table width='100%' cellspacing='0' cellpadding='0'>
               <tr>
                 <td>
                   <%=rispDrawer.rispostaSemplice(9,"1")%>
                 </td>
               </tr>
               <tr>
                 <td>
                   <%=rispDrawer.rispostaSemplice(9,"2")%>
                 </td>
               </tr>
               <tr>
                 <td>
                   <%=rispDrawer.rispostaSemplice(9,"3")%>
                 </td>
               </tr>
               <tr>
                 <td>
                   <%=rispDrawer.rispostaSemplice(9,"4")%>
                 </td>
               </tr>
               <tr>
                 <td>
                   <%=rispDrawer.rispostaSemplice(9,"5")%>
                 </td>
               </tr>
             </table>
           </td>
          </tr>
         </table>
       </td>
     </tr>
   </table>
   <!-- SEZIONE 3 - FINE DOMANDA 1 -->


<table width='100%'><tr><td class="risposteSeparator"></td></tr></table>


   <!-- SEZIONE 3 - INIZIO DOMANDA 2 -->
   <table width='100%' style='table-layout:fixed;' id='domanda10'>
     <tr>
       <td>
         <table class='domanda'><tr>
           <td valign='top'><b>2)</b></td>
           <td valign='top'>
            <b><%=rispDrawer.domanda(10)%></b>
           </td>
           <% if(model.getDomandaInErrore().intValue() == 10){ %> 
           <td>&nbsp;&nbsp;&nbsp;<%=rispDrawer.inlineAnchor()%></td>
           <% } %> 
         </tr></table>
       </td>
     </tr>
     <tr>
       <td>
         <table width='100%' class='risposteCont' cellspacing='0' cellpadding='0'>
          <tr>
           <td valign='top'>
             <table width='100%' cellspacing='0' cellpadding='0'>
               <tr>
                 <td>
                   <%=rispDrawer.rispostaSemplice(10,"1")%>
                 </td>
               </tr>
               <tr>
                 <td>
                   <%=rispDrawer.rispostaSemplice(10,"2")%>
                 </td>
               </tr>
               <tr>
                 <td>
                   <%=rispDrawer.rispostaSemplice(10,"3")%>
                 </td>
               </tr>
             </table>
           </td>
          </tr>
         </table>
       </td>
     </tr>
   </table>
   <!-- SEZIONE 3 - FINE DOMANDA 2 -->


<table width='100%'><tr><td class="risposteSeparator"></td></tr></table>


   <!-- SEZIONE 3 - INIZIO DOMANDA 3 -->
   <table width='100%' style='table-layout:fixed;' id='domanda11'>
     <tr>
       <td>
         <table class='domanda'><tr>
           <td valign='top'><b>3)</b></td>
           <td valign='top'>
            <b><%=rispDrawer.domanda(11)%></b>
           </td>
           <% if(model.getDomandaInErrore().intValue() == 11){ %> 
           <td>&nbsp;&nbsp;&nbsp;<%=rispDrawer.inlineAnchor()%></td>
           <% } %> 
         </tr></table>
       </td>
     </tr>
     <tr>
       <td>
         <table width='100%' class='risposteCont' cellspacing='0' cellpadding='0'>
          <tr>
           <td valign='top'>
             <table width='100%' cellspacing='0' cellpadding='0'>
               <tr>
                 <td>
                   <%=rispDrawer.rispostaSemplice(11,"1")%>
                 </td>
               </tr>
               <tr>
                 <td>
                   <%=rispDrawer.rispostaSemplice(11,"2")%>
                 </td>
               </tr>
               <tr>
                 <td>
                   <%=rispDrawer.rispostaSemplice(11,"3")%>
                 </td>
               </tr>
             </table>
           </td>
          </tr>
         </table>
       </td>
     </tr>
   </table>
   <!-- SEZIONE 3 - FINE DOMANDA 3 -->


</td></tr></table>
</fieldset>
</td></tr></table>
<!-- FINE SEZIONE 3 -->
