<!-- INIZIO SEZIONE 4 -->
<table width='100%'id='sezione12'><tr><td>
<fieldset class='sezione'>
<legend class='titoloSezione'>
&nbsp;<%=rispDrawer.sezione(12)%>
</legend>
<table width='100%'><tr><td>

   <!-- SEZIONE 4 - INIZIO DOMANDA 1 -->
   <table width='100%' style='table-layout:fixed;' id='domanda12'>
     <tr>
       <td>
         <table class='domanda'><tr>
           <td valign='top'><b>1)</b></td>
           <td valign='top'>
            <b><%=rispDrawer.domanda(12)%></b>
           </td>
           <% if(model.getDomandaInErrore().intValue() == 12){ %> 
           <td>&nbsp;&nbsp;&nbsp;<%=rispDrawer.inlineAnchor()%></td>
           <% } %> 
         </tr></table>
       </td>
     </tr>
     <tr>
       <td>
         <table width='100%' class='risposteCont' cellspacing='0' cellpadding='0'>
          <tr>
           <td valign='top'>
             <table width='100%' cellspacing='0' cellpadding='0'>
               <tr>
                 <td>
                   <%=rispDrawer.rispostaSemplice(12,"1",null,model.isTitoloDiStudioPrevalorizzato())%>
                 </td>
               </tr>
               <tr>
                 <td>
                   <%=rispDrawer.rispostaSemplice(12,"2",null,model.isTitoloDiStudioPrevalorizzato())%>
                 </td>
               </tr>
               <tr>
                 <td>
                   <%=rispDrawer.rispostaSemplice(12,"3",null,model.isTitoloDiStudioPrevalorizzato())%>
                 </td>
               </tr>
               <tr>
                 <td>
                   <%=rispDrawer.rispostaSemplice(12,"4",null,model.isTitoloDiStudioPrevalorizzato())%>
                 </td>
               </tr>
               <tr>
                 <td>
                   <%=rispDrawer.rispostaSemplice(12,"5",null,model.isTitoloDiStudioPrevalorizzato())%>
                 </td>
               </tr>
             </table>
           </td>
          </tr>
         </table>
       </td>
     </tr>
   </table>
   <!-- SEZIONE 4 - FINE DOMANDA 1 -->


<table width='100%'><tr><td class="risposteSeparator"></td></tr></table>


   <!-- SEZIONE 4 - INIZIO DOMANDA 2 -->
   <table width='100%' style='table-layout:fixed;' id='domanda13'>
     <tr>
       <td>
         <table class='domanda'><tr>
           <td valign='top'><b>2)</b></td>
           <td valign='top'>
            <b><%=rispDrawer.domanda(13)%></b>
           </td>
           <% if(model.getDomandaInErrore().intValue() == 13){ %> 
           <td>&nbsp;&nbsp;&nbsp;<%=rispDrawer.inlineAnchor()%></td>
           <% } %> 
         </tr></table>
       </td>
     </tr>
     <tr>
       <td>
         <table width='100%' class='risposteCont' cellspacing='0' cellpadding='0'>
          <tr>
           <td valign='top'>
             <table width='100%' cellspacing='0' cellpadding='0'>
               <tr>
                 <td>
                   <%=rispDrawer.rispostaSemplice(13,"1")%>
                 </td>
               </tr>
               <tr>
                 <td>
                   <%=rispDrawer.rispostaSemplice(13,"2")%>
                 </td>
               </tr>
               <tr>
                 <td>
                   <%=rispDrawer.rispostaSemplice(13,"3")%>
                 </td>
               </tr>
             </table>
           </td>
          </tr>
         </table>
       </td>
     </tr>
   </table>
   <!-- SEZIONE 4 - FINE DOMANDA 2 -->


<table width='100%'><tr><td class="risposteSeparator"></td></tr></table>


   <!-- SEZIONE 4 - INIZIO DOMANDA 3 -->
   <table width='100%' style='table-layout:fixed;' id='domanda14'>
     <tr>
       <td>
         <table class='domanda'><tr>
           <td valign='top'><b>3)</b></td>
           <td valign='top'>
            <b><%=rispDrawer.domanda(14)%></b>
            <br>
            <%=rispDrawer.commento(14,1)%>
           </td>
           <% if(model.getDomandaInErrore().intValue() == 14){ %> 
           <td>&nbsp;&nbsp;&nbsp;<%=rispDrawer.inlineAnchor()%></td>
           <% } %> 
         </tr></table>
       </td>
     </tr>
     <tr>
       <td>
         <table width='100%' class='risposteCont' cellspacing='0' cellpadding='0'>
          <tr>
           <td valign='top'>
             <table width='100%' cellspacing='0' cellpadding='0'>
               <tr>
                 <td>
                   <%=rispDrawer.rispostaMultipla(14)%>
                 </td>
               </tr>
               <tr>
                 <td>
                   <%=rispDrawer.rispostaMultipla(15)%>
                 </td>
               </tr>
               <tr>
                 <td>
                   <%=rispDrawer.rispostaMultipla(16)%>
                 </td>
               </tr>
               <tr>
                 <td>
                   <%=rispDrawer.rispostaMultipla(17)%>
                 </td>
               </tr>
               <tr>
                 <td>
                   <%=rispDrawer.rispostaMultipla(18)%>
                 </td>
               </tr>
               <tr>
                 <td>
                   <%=rispDrawer.rispostaMultipla(19)%>
                 </td>
               </tr>
               <tr>
                 <td>
                   <%=rispDrawer.rispostaMultipla(20)%>
                 </td>
               </tr>
               <tr>
                 <td>
                   <%=rispDrawer.rispostaMultipla(21)%>
                 </td>
               </tr>
               <tr>
                 <td>
                   <%=rispDrawer.rispostaMultipla(22)%>
                 </td>
               </tr>
               <tr>
                 <td>
                   <%=rispDrawer.rispostaMultipla(23)%>
                 </td>
               </tr>
             </table>
           </td>
          </tr>
         </table>
       </td>
     </tr>
   </table>
   <!-- SEZIONE 4 - FINE DOMANDA 3 -->


<table width='100%'><tr><td class="risposteSeparator"></td></tr></table>


   <!-- SEZIONE 4 - INIZIO DOMANDA 4 -->
   <table width='100%' style='table-layout:fixed;' id='domanda15'>
     <tr>
       <td>
         <table class='domanda'><tr>
           <td valign='top'><b>4)</b></td>
           <td valign='top'>
            <b>In quali delle seguenti categorie di strumenti finanziari/prodotti ha esperienza diretta?</b>
            <br>
            <%=rispDrawer.commento(15,1)%><br><%=rispDrawer.commento(15,2)%>
           </td>
         </tr></table>
       </td>
     </tr>
     <tr>
     	<td>
         <table width='100%' class='risposteCont' cellspacing='0' cellpadding='0'>
          <tr>
		     	<td style="padding-top:5px; padding-left: 5px; padding-right: 5px;">
		      	 	<table width='100%' cellspacing='0' cellpadding='0' style='table-layout:fixed;border: solid 1px silver;'>
					     <tr>
					     	<td style="padding-left: 10px; padding-right: 10px;">
					     	
					     		<% String[] domandaQuattroReplacements = new String[]{"oppure","<br><center>oppure</center>"}; %>
					      	 	<table class='risposteCont' width='100%' style="border-top: none;">
					      	 		<tr>
					      	 			<td align="center" style="border-bottom: solid 1px silver; border-right: solid 1px silver;">
					      	 				<b>
					      	 				CATEGORIA DI PRODOTTI DI<br>INVESTIMENTO/STRUMENTI FINANZIARI
					      	 				</b>
					      	 			</td>
					      	 			<td align="center" style="border-bottom: solid 1px silver;">
					      	 				<b>
					      	 				ESPERIENZA DIRETTA E FREQUENZA/VOLUMI DELL'OPERATIVITA'<br>EFFETTUATA NEGLI ULTIMI 3 ANNI
					      	 				</b>
					      	 			</td>
					      	 		</tr>
					      	 		<tr>
					      	 			<td style="border-bottom: solid 1px silver; border-right: solid 1px silver;">
											<% if(model.getDomandaInErrore().intValue() == 15){ %> 
											     <%=rispDrawer.inlineAnchor()%>
								           <% } %> 
					      	 				<b><%=rispDrawer.domanda(15)%></b>
					      	 			</td>
					       	 			<td valign="top" style="border-bottom: solid 1px silver;">
					      	 				<table width="100%">
					      	 					<tr>
					      	 						<td style="border-bottom: solid 1px silver;">
					                   					<%=rispDrawer.rispostaSemplice(24,"1",null,false,domandaQuattroReplacements)%>
					      	 						</td>
					      	 					</tr>
					      	 					<tr>
					      	 						<td style="border-bottom: solid 1px silver;">
					                   					<%=rispDrawer.rispostaSemplice(24,"2",null,false,domandaQuattroReplacements)%>
					      	 						</td>
					      	 					</tr>
					      	 					<tr>
					      	 						<td style="border-bottom: solid 1px silver;">
					                   					<%=rispDrawer.rispostaSemplice(24,"3",null,false,domandaQuattroReplacements)%>
					      	 						</td>
					      	 					</tr>
					      	 					<tr>
					      	 						<td>
					                   					<%=rispDrawer.rispostaSemplice(24,"4",null,false,domandaQuattroReplacements)%>
					      	 						</td>
					      	 					</tr>
					      	 				</table>
					      	 			</td>
					      	 		</tr>
					      	 		<tr>
					      	 			<td style="border-bottom: solid 1px silver; border-right: solid 1px silver;">
											<% if(model.getDomandaInErrore().intValue() == 16){ %> 
											     <%=rispDrawer.inlineAnchor()%>
								           <% } %> 
					      	 				<b><%=rispDrawer.domanda(16)%></b>
					      	 			</td>
					       	 			<td valign="top" style="border-bottom: solid 1px silver;">
					      	 				<table width="100%">
					      	 					<tr>
					      	 						<td style="border-bottom: solid 1px silver;">
									                   <%=rispDrawer.rispostaSemplice(25,"1",null,false,domandaQuattroReplacements)%>
					      	 						</td>
					      	 					</tr>
					      	 					<tr>
					      	 						<td style="border-bottom: solid 1px silver;">
									                   <%=rispDrawer.rispostaSemplice(25,"2",null,false,domandaQuattroReplacements)%>
					      	 						</td>
					      	 					</tr>
					      	 					<tr>
					      	 						<td style="border-bottom: solid 1px silver;">
									                   <%=rispDrawer.rispostaSemplice(25,"3",null,false,domandaQuattroReplacements)%>
					      	 						</td>
					      	 					</tr>
					      	 					<tr>
					      	 						<td>
									                   <%=rispDrawer.rispostaSemplice(25,"4",null,false,domandaQuattroReplacements)%>
					      	 						</td>
					      	 					</tr>
					      	 				</table>
					      	 			</td>
					      	 		</tr>
					      	 		<tr>
					      	 			<td style="border-right: solid 1px silver;">
											<% if(model.getDomandaInErrore().intValue() == 17){ %> 
											     <%=rispDrawer.inlineAnchor()%>
								           <% } %> 
					      	 				<b><%=rispDrawer.domanda(17)%></b>
					      	 			</td>
					       	 			<td valign="top">
					      	 				<table width="100%">
					      	 					<tr>
					      	 						<td style="border-bottom: solid 1px silver;">
									                   <%=rispDrawer.rispostaSemplice(26,"1",null,false,domandaQuattroReplacements)%>
					      	 						</td>
					      	 					</tr>
					      	 					<tr>
					      	 						<td style="border-bottom: solid 1px silver;">
									                   <%=rispDrawer.rispostaSemplice(26,"2",null,false,domandaQuattroReplacements)%>
					      	 						</td>
					      	 					</tr>
					      	 					<tr>
					      	 						<td style="border-bottom: solid 1px silver;">
									                   <%=rispDrawer.rispostaSemplice(26,"3",null,false,domandaQuattroReplacements)%>
					      	 						</td>
					      	 					</tr>
					      	 					<tr>
					      	 						<td>
									                   <%=rispDrawer.rispostaSemplice(26,"4",null,false,domandaQuattroReplacements)%>
					      	 						</td>
					      	 					</tr>
					      	 				</table>
					      	 			</td>
					      	 		</tr>
					      	 		
								</table>     
									
					     	</td>
					     </tr>
		      	 	</table>
		        </td>
		        
		 </tr>
		</table>
	   </td>
		     	
     </tr>

   </table>

</td></tr></table>
</fieldset>
</td></tr></table>
<!-- FINE SEZIONE 4 -->
