.mandInputFieldWlt {
	font-family: Arial;
	font-size: 8pt;
	color: #1A458F;
	border: solid 1px silver;
	background-color: moccasin;
}

.mandOutputFieldWlt {
	font-family: Arial;
	font-size: 8pt;
	color: #333333;
	background-color: moccasin;
	border: solid 1px silver;
}

.mandInputField {
	font-family: Arial;
	font-size: 8pt;
	color: #1A458F;
	background-color: moccasin;
	border-top: solid 2px dimgray;
	border-left: solid 2px dimgray;
	border-bottom: solid 1px silver;
	border-right: solid 1px silver;
}

.mandOutputField {
	font-family: Arial;
	font-size: 8pt;
	color: #333333;
	background-color: moccasin;
	border-top: solid 2px dimgray;
	border-left: solid 2px dimgray;
	border-bottom: solid 1px silver;
	border-right: solid 1px silver;
}
